<!--Header-->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#">Food Recipe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-success my-2 my-sm-0" type="submit" routerLink="/">Logout</button>
      <button class="btn btn-primary my-2 my-sm-0 mx-2" type="submit" (click)="updateprofile()">Update Profile</button>
      <button class="btn btn-warning my-2 my-sm-0" type="submit" (click)="changepassword()">Change Password</button>
    </form>
  </div>
</nav>
<!--/Header-->

<!-- Rest of your code -->

<!--/Header-->

<!-- <div class="container">
    <div class="jumbotron my-5">
        <h1 class="display-4">Hello, User!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <button class="btn btn-primary btn-lg" (click)="onNav()">Book List</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="#" role="button">Ratings</a>
      </div>
  </div> -->

<p></p>
<div class="container">
  <div>
    <form class="form-inline" [formGroup]="searchRecipeGroup">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
        formControlName="searchByCategory">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSearchByCat()">Search</button>
    </form>
    <p></p>
  </div>


  <div class="row">
    <div *ngFor="let recipe of recipeList; let i = index" class="card"
      style="width: 18rem; margin-right: 10px; margin-bottom: 30px;">
      <div (click)="recipeDetails(recipe)" style="cursor: pointer;">
        <img class="card-img-top" src={{recipe.imgurl}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{recipe?.id}} {{recipe?.name}}</h5>
          <h2 class="card-title">{{recipe?.category}}</h2>
          <p class="card-text">{{recipe?.cookingSteps}}</p>

          

        </div>
      </div>

    </div>
  </div>
</div>
<p></p>
<!--Footer-->

<!--footer class="footer mt-auto py-3 bg-primary fixed-bottom">
  <div class="container text-center">
    <span class="text-dark">Coptright&copy;2023 Reserved by Recipe admin. </span>
  </div>
</footer-->

<!--/Footer-->