<div class="container">
    <div class="row">
        <div class="col">
            <img class="card-img-top" src={{recipe?.imgurl}} alt="Card image cap">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">{{recipe?.id}} {{recipe?.name}}</h5>
                <h2 class="card-title">{{recipe?.category}}</h2>
                <h2 class="card-title">{{recipe?.ingrediants}}</h2>
                <p class="card-text">{{recipe?.cookingSteps}}</p>

              

            </div>
        </div>
    </div>