body{
    background-image: url("https://t4.ftcdn.net/jpg/03/81/77/37/360_F_381773734_CRiZICwHeuqY1PBvyEwUt42s1WwBt73w.jpg");
    background-color: skyblue;
    background-repeat: no-repeat;
    background-size: cover;
}